.main-btn {
    padding: 15px 31px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    color: #fefcf7;
    background-color: #66d2cf;
  }
  
 